/*Общие стили*/
/*шрифты и цвета*/
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
}

.page {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.main-header,
.main-desc,
.features-list,
.advices,
.search-form,
.filter,
.hotel-items {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-menu a {
  font-weight: 700;
  list-style: none;
  color: black;
}

.desc-title,
.features-list h3,
.contacts,
.hotel h3 {
  font-size: 21px;
  font-weight: 700;
  color: black;
}

.main-menu,
.features-list,
.advices-list,
.socials-list,
.filter ul,
.form-wrapper {
  list-style: none;
}

.features,
.btn,
.btn-brown,
.rating-score,
.hotel-desc {
  line-height: 21px;
}

.form-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: black;
}

.form-text {
  line-height: 24px;
}

.search-hotel,
.btn {
  font-weight: 700;
}

.search-btn,
.result-btn {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.input-date,
.input-quantity {
  font-weight: 700;
  background-color: #f2f2f2;
  border-style: none;
}

.filter {
  font-size: 21px;
  font-weight: 700;
  color: black;
}

.filter-type,
.filter-type span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.filter-type a {
  color: rgba(0, 0, 0, 0.3);
}

.choose-hotel {
  color: #fff;
}

.apartment-type legend,
.infrastructure legend {
  font-weight: 700;
}

.btn,
.btn-brown {
  color: white;
}

.search-btn {
  background-color: #766357;
}

.result-btn {
  background-color: #81b3d2;
}

.btn {
  background-color: #81b3d2;
}

.btn-brown {
  background-color: #766357;
}

.infrastructure legend {
  font-size: 16px;
}

.hotel-name a,
.contacts a {
  color: black;
}

.socials-item {
  background-color: #81b3d2;
}

.copyright p {
  color: black;
}

.copyright svg {
  fill: #231f20;
}

/*состояния элементов*/
.copyright svg:hover,
.copyright svg:focus {
  stroke: #81b3d2;
  fill: #81b3d2;
}

.copyright svg:active {
  stroke: #bdbbbc;
  fill: #bdbbbc;
}

.main-menu a:hover,
.main-menu a:focus,
.filter-type a:hover,
.filter-type a:focus,
.contacts a:hover,
.contacts a:focus {
  color: #81b3d2;
}

.calendar svg {
  fill: #cacaca;
}

.calendar svg:hover {
  fill: #000000;
}

.calendar svg:active,
.btn-quantity:active {
  fill: #81b3d2;
}

.btn-quantity:hover {
  color: #000000;
}

.btn-quantity:active {
  color: #81b3d2;
}

.main-menu a:active,
.contacts a:active {
  color: rgba(0, 0, 0, 0.3);
}

.active a {
  color: #766357;
}

.input-date:hover {
  background-color: #ebebeb;
}

.input-date:focus {
  background-color: #ffffff;
}

.filter-type a:active {
  color: black;
}

.direct-up svg,
.direct-down svg {
  fill: #cacaca;
}

.direct-up svg:hover,
.direct-up svg:focus,
.direct-down svg:hover,
.direct-down svg:focus {
  fill: black;
}

.direct-up svg:active,
.direct-down svg:active {
  fill: #81b3d2;
}

.socials-item:hover,
.socials-item:focus {
  background-color: #669ec0;
}

.socials-item:active {
  background-color: #5496bd;
}

.btn:hover,
.btn:focus,
.result-btn:hover,
.result-btn:focus {
  background-color: #669ec0;
}

.btn:active,
.result-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.socials-item svg:active {
  fill-opacity: 0.3;
}

.btn-brown:hover,
.btn-brown:focus,
.search-btn:hover,
.search-btn:focus {
  background-color: #604e43;
}

.btn-brown:active,
.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.filter-type .active {
  color: #81b3d2;
}

.direct-down .active {
  fill: #81b3d2;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*прочее*/
.wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, .2);
}

.main-menu,
.socials-list {
  margin: 0;
  padding: 0;
}

/*index.html*/
/*Стили по блокам*/
/*header*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-nav {
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  z-index: 1;
  margin-left: -70px;
}

.logo img {
  display: block;
}

.main-menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-right: 72px;
  padding-bottom: 15px;
  padding-left: 72px;
}

.main-menu li {
  width: 239px;
}

.main-menu li:nth-child(4n+3),
.main-menu li:nth-child(4n+4) {
  text-align: right;
}

.main-menu li:nth-child(4n+2) {
  margin-right: 96px;
}

/*main*/
.main-desc {
  padding-top: 60px;
  padding-bottom: 51px;
}

.desc-title {
  padding-right: 380px;
  padding-bottom: 25px;
  padding-left: 380px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.desc-text {
  padding-right: 353px;
  padding-left: 353px;
  margin-top: 0;
  margin-bottom: 0;
}

.main-bg {
  height: 510px;
  background-image: url(../img/polygon.png), url(../img/bg.jpg);
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: bottom -1px center, center -80px;
}

.main-bg img {
  position: relative;
  top: 15%;
  left: 31%;
}

/*features*/
.features-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.features-desc {
  padding-top: 47px;
  padding-bottom: 19px;
  text-align: center;
}

.features-title {
  padding-right: 123px;
  padding-bottom: 22px;
  padding-left: 123px;
  margin-top: 0;
  margin-bottom: 0;
}

.features-number {
  display: block;
  padding-bottom: 22px;
}

.features-text {
  padding-right: 47px;
  padding-left: 47px;
  margin-top: 0;
  margin-bottom: 0;
}

.main-features {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.main-features h3,
.main-features {
  color: #ffffff;
  background-color: #81b3d2;
}

.features-image img {
  display: block;
}

.second-feature {
  order: -1;
}

.other-features {
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 56px;
  text-align: center;
  background-color: #eeeeee;
}

.features-item {
  width: 33.3%;
}

/*advices*/
.advices {
  position: relative;
  display: flex;
  align-items: baseline;
  padding-top: 57px;
  padding-bottom: 68px;
  text-align: center;
}

.apartment,
.food,
.souvenirs {
  width: 33.3%;
  padding-right: 57px;
  padding-left: 57px;
}

.advices-title {
  margin-bottom: 25px;
}

/*search-form*/
.search-form {
  position: relative;
  padding-top: 51px;
}

.form-title,
.form-text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.form-title {
  padding-bottom: 23px;
  margin-top: 0;
  margin-bottom: 0;
}

.form-text {
  padding-bottom: 49px;
}

.form-field {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 29px;
  background-color: white;
}

.form-field:nth-child(3) {
  margin-bottom: 25px;
}

.arrival-date {
  padding-right: 24px;
}

.depature-date {
  padding-right: 20px;
}

.adults-quantity {
  padding-right: 41px;
}

.children-quantity {
  padding-right: 27px;
  padding-left: 52px;
}

.input-quantity {
  width: 38px;
}

.search-btn {
  display: block;
  width: 568px;
  padding-top: 31px;
  padding-right: 10px;
  padding-bottom: 31px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  border: none;
}

.search-hotel {
  position: absolute;
  left: 50%;
  display: block;
  width: 568px;
  box-sizing: border-box;
  padding-top: 56px;
  padding-right: 55px;
  padding-bottom: 56px;
  padding-left: 55px;
  margin-left: -285px;
  text-align: center;
  background-color: white;
}

.search-show {
  display: none;
}

.input-date {
  width: 346px;
  height: 38px;
  box-sizing: border-box;
  padding-right: 42px;
  padding-left: 15px;
  text-transform: uppercase;
}

.calendar {
  position: absolute;
  right: 4px;
  height: 38px;
  background-color: transparent;
  border: none;
}

.quantity-field {
  display: flex;
  align-items: center;
  width: 50%;

}

.btn-quantity {
  width: 38px;
  height: 38px;
  font-size: 24px;
  font-weight: 700;
  color: #cacaca;
  background-color: #f2f2f2;
  border: none;
}

.result-btn {
  position: relative;
  left: 50%;
  width: 458px;
  padding-top: 16px;
  padding-bottom: 18px;
  margin-left: -458px;
  border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-quantity {
  height: 38px;
  padding: 0;
  text-align: center;
}

/*карта*/
.map {
  margin-bottom: -127px;
}

/*footer*/
.main-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-right: 100px;
  padding-bottom: 30px;
  padding-left: 129px;
  background-color: #ffffff;
}

.index {
  padding-left: 124px;
  background-color: rgba(255, 255, 255, 0.9);
}

.index .contacts {
  margin-right: 10px;
}

.contacts,
.socials-list,
.copyright {
  position: relative;
}

.contacts {
  margin-right: 5px;
}

.contacts p {
  padding-bottom: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

.socials-list {
  display: flex;
  align-items: center;
  padding-right: 57px;
}

.socials-item {
  position: relative;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
  cursor: pointer
}

.socials-item > a {
  display: block;
}

.twitter svg {
  position: absolute;
  top: 15px;
  left: 15px;
}

.facebook svg {
  position: absolute;
  top: 12px;
  left: 17px;
}

.youtube svg {
  position: absolute;
  top: 15px;
  left: 14px;
}

.copyright {
  display: flex;
}

.copyright p {
  padding-right: 7px;
}

.copyright a {
  align-self: flex-end;
}

/*catalog.html*/
/*Стили по блокам*/
/*search-filters*/
.search-filters {
  padding-bottom: 1px;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: center -295px;
}

.choose-hotel {
  display: flex;
  padding-top: 24px;
  padding-right: 72px;
  padding-bottom: 7px;
  padding-left: 60px;
}

.checkbox {
  position: relative;
  display: block;
  min-width: 95px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.input-checkbox+label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
}

.input-checkbox:focus+label::before {
  outline: auto;
}

.input-checkbox:disabled+label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off-disabled.svg);
  background-repeat: no-repeat;
}

.input-checkbox:checked:disabled+label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on-disabled.svg);
}

.infrastructure {
  padding-right: 57px;
  border: none;
}

.infrastructure,
.apartment-type {
  padding-top: 0;
  padding-bottom: 0;
}

.apartment-type {
  padding-left: 56px;
  padding-right: 166px;
  border: none;
}

.apartment-type legend,
.infrastructure legend {
  padding-bottom: 21px;
  font-size: 16px;
}

.filter-type span {
  padding-right: 40px;
}

.direct-up,
.direct-down {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*filter*/
.filter-range {
  width: 330px;
  padding-left: 180px;
}

.filter-range-title {
  padding-top: 2px;
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 56px;
  text-align: center;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  height: 2px;
  margin-bottom: 31px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  transform: scale(1.1);
}

.btn-transparent {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 85px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/*search-results*/
.filter {
  display: flex;
  align-items: baseline;
  padding-top: 29px;
  padding-right: 68px;
  padding-left: 72px;
  padding-bottom: 33px;
  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.filter p {
  padding-left: 48px;
}

.filter-type {
  display: flex;
  padding-left: 45px;
}

.type-filter,
.rate-filter {
  border-bottom: 1px dotted rgba(0, 1, 1, 0.2);
}

.price-filter {
  padding-right: 33px;
}

.type-filter {
  margin-right: 35px;
}

.filter-direct {
  display: flex;
  margin-left: auto;
}

.direct-up {
  padding-right: 6px;
}

.direct-down {
  padding-left: 6px;
}

.hotel {
  display: flex;
  padding-top: 25px;
  padding-right: 72px;
  padding-left: 72px;
  padding-bottom: 31px;
  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.hotel-wrapper {
  flex-grow: 1;
}

.hotel-image {
  padding-top: 4px;
  margin-right: 30px;
}

.hotel-image img {
  display: block;
}

.hotel-name {
  padding-bottom: 6px;
  margin-top: 0;
  margin-bottom: 0;
}

.hotel-desc {
  display: flex;
}

.hotel-info p,
.hotel-price p {
  padding-bottom: 13px;
  margin-top: 0;
  margin-bottom: 0;
}

.btn {
  display: block;
  padding-top: 3px;
  padding-right: 17px;
  padding-bottom: 3px;
  padding-left: 16px;
}

.hotel-price p {
  padding-left: 5px;
}

.btn-brown {
  padding-right: 16px;
  padding-left: 18px;
  margin-left: 6px;
}

.hotel-rating {
  position: relative;
}

.star::before {
  content: "";
  display: block;
  height: 17px;
  background-image: url(../img/hotel-star.svg);
  background-repeat: space;
}

.four-stars,
.three-stars,
.two-stars {
  padding-bottom: 50px;
  margin-left: auto;
}

.four-stars {
  width: 89px;
}

.three-stars {
  width: 65px;
}

.two-stars {
  width: 41px;
}

.rating-score {
  background-color: #f2f2f2;
  padding: 3px 13px 3px 16px;
  margin-top: 0;
  margin-bottom: 0;
}

