@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
}

.page {

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.main-menu {
  color: black;
  font-weight: bold;
  list-style: none;
}

.main-menu a:hover,
.main-menu a:focus,
.contacts a:hover,
.contacts a:focus {
  color: #81b3d2;
}

.main-menu a:active,
.contacts a:active {
  color: rgba(0, 0, 0, 0.3);
}

.active a {
  color: #766357;
}

.main-bg {
width: 1200px;
height: 511px; /*можно ли задавать высоту?*/
margin: auto;
  background-image: url(../img/polygon.png), url(../img/bg.jpg);
  background-color: #81b3d2;
  background-repeat: no-repeat;

  
}

.features,
.btn,
.btn-brown,
.rating-score,
.hotel-info {
  line-height: 21px;
}

.desc-title,
.features-list h3,
.contacts,
.hotel h3 {
  font-weight: bold;
  font-size: 21px;
  color: black;
}

.features-list,
.advices-list,
.socials-list,
.filter ul {
  list-style: none;
}

.main-features h3,
.main-features {
  background-color: #81b3d2;
  color: #ffffff;
}

.form-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: black;
}

.form-text {
  line-height: 24px;
}

.search-btn,
.result-btn {
  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.search-btn {
  background-color: #766357;
}

.result-btn {
  background-color: #81b3d2;
}

.copyright p {
  color: black;
}


.filter span {
  font-size: 21px;
  font-weight: bold;
  color: black;
}

.filter-type,
.filter p {
  font-size: 12px;
  line-height: 18px;
}

.btn {
  background-color: #81b3d2;
}

.btn-brown {
  background-color: #766357;
}

.btn,
.btn-brown {
  color: white;
}

.socials-item {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.socials-item:hover,
.socials-item:focus {
  background-color: #669ec0;
}

.socials-item:active {
  background-color: #5496bd;
}

.btn:hover,
.btn:focus,
.result-btn:hover,
.result-btn:focus {
  background-color: #669ec0;
}

.btn:active,
.result-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.btn-brown:hover,
.btn-brown:focus,
.search-btn:hover,
.search-btn:focus {
  background-color: #604e43;
}

.btn-brown:active,
.search-btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*игры с флексом*/
.logo {
  position: absolute;
  left: 565px;
  top: 0;
}


.main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}



.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
